{% extends 'layout.html' %} {% block title %}Login{% endblock %} {% block body%}
<div class="container">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="nickname">Email address</label>
      <input type="text" class="form-control" id="nickname" name="nickname" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
